:root {
  --color-turquoise: #81CBD2;
  --color-yellow: #FFE032;
  --color-pea-green: #685C17;
  --color-dark-turquoise: #446467;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-black);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
